# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
.vscode/
config.env

files/logs
files/excel
files/outer
code-remind
files/visplugin/2023-09-14/43dbbbdefb7a4e910f8b4c233b0e5161.jpg
files/visplugin/2023-09-14/862ee7a2fbf5a8dc3e272c3ebb2fc7ae.jpg
files/visplugin/2023-09-14/8796f86bbabe0265f12a6527f61f559e.jpg
files/visplugin/2023-09-14/64934fc909fe5c402c98628d58b81267.jpg
files/visplugin/2023-09-14/74343400b26461efc67c02923fb41e5a.jpg
